/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Roboto:100,500,300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/*==================== VARIABLES CSS ====================*/
:root {
    --header-height:3rem ;

    /*========== Colors ==========*/
    /* Change favorite color */

/*========== Font and typography ==========*/

        --body-font: "Circular Std Book";
        --body2-font:"Poppins", sans-serif;
        --biggest-font-size: 2.25rem;
        --biggest2-font-size: 2.5rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
        --p-size:1.2rem ;
    
        /*========== Font weight ==========*/
        --font-medium: 500;
        --font-semi-bold: 600;
        --font-bold:700;
    
        /*========== Margenes ==========*/
        --mb-1: .5rem;
        --mb-2: 1rem;
        --mb-3: 1.5rem;
        --mb-4: 2rem;
        --mb-5: 2.5rem;
        --mb-6: 3rem;
    
}
/*==================== BASE ====================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body2-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/**************************NAV**************/

.first {
    position:relative;
    height:145vh;
    font-family:  "Poppins", sans-serif;
}

.nav_links {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left:5.2rem;
    padding-right: 18px;
    padding-bottom:9px;
    padding-top: 27px;
    margin:1px;
    color:black;
}

.navitem {
    margin-left: 27px;
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-right: 15px;
    position: relative;
    transition: 0.2s all linear;
  }

  .navitem:hover {
    color:#02e079;
}

  nav {
    width: 100%;
     height: 80px;
     display: flex;
     justify-content: space-between;
     align-items: center;
      background-color: transparent; 
     padding: 8px;
     position: absolute;
     z-index: 100;
 }

 .nav_center {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
    margin-left: 3px;
    margin-right: 10px;
    max-width: 100%;
     z-index: 100;
    /* position: fixed; */
}

.logo {
width: 98px;
height:20px;
margin-right: 20px;
float: left;
margin-left: 100px;
cursor: pointer;
}

.nav_logo {
  padding-right: 20px;
  height: 35px;
  width: 122px;
}

.nav_sign {
    margin-top: 27px;
     margin-bottom: 16px;
    height: 50px;
    width: 145px;
    border-radius: 3px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 100px;
    background-color: #02e079;
    transition: 0.3s all ease-in-out;
    border-style:none ;
}

.nav_sign:hover {
    background-color: #000;
    color: white;
    display: block;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
}

.shrink {
  padding:20px 10px;
  position: fixed;
top:0;
width: 100%;
transition: 0.3s all ease-in-out;
padding: 12px;
background-color: white;
z-index: 100;
}

/*======= responsive area =======*/
@media(max-width:991px) {
nav{
    visibility: hidden;
}
}

@media(max-width:767px){
    nav {
        visibility: hidden;
    }
}

@media(max-width:574px){
    nav{
        visibility: hidden;
    }
}
/***********************************************banner*********************************/

.banner_section {
    height: 99vh;
    margin-bottom: 210px;
}

.background_img {
    position: relative;
    width:1349px;
    top:17px;
    margin-left: 0;
}

.banner_text {
    text-align: center;
    line-height: 1.625;
    margin-top: 104px;
    font-family: var(--body2-font);
    position: absolute;
    z-index: 0;
}

.banner_title {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.09;
    padding-bottom: 15px;
    margin-top: -36rem;
    margin-left: 19rem;
}

.banner_subtitle {
    color: #595959;
    margin: 0 auto;
    font-size: 16px;
    max-width: 380px;
    padding-bottom: 25px;
    margin-left: 31rem;
}

.banner_image {
    margin-top: -274px;
    margin-left: 275px;
    position: absolute;
    z-index: 1;
}

.download {
   width:40%;
   margin-left: 308px;
   margin-top: 142px;
   position: absolute;
   z-index: 0;
   border-bottom: 0.3px rgb(206, 204, 204);
}

.download_bar {
    z-index: 0;
}

.download_bar span {
    color:black;
    line-height: 1.9;
    font-family: var(--body2-font);
}

.download_icon {
    font-family: 'Font Awesome 5 Brands';
    color: rgb(179, 176, 176);
    transition: 0.3s all ease-in-out;
    margin-right: 6px;
    z-index: 0;
}

.download_icon:hover {
    color:#02e079;
}

.download_btn {
    float: right;
    height: 47px;
    width: 148px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 600;
    background-color: #02e079;
    transition: 0.3s all ease-in-out;
    border-style:none ;
    color: white;
    position: absolute;
    margin-top: -35px;
    margin-left: 587px;
}

.download_btn:hover {
    background-color: #000;
    display: block;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
}

/*====responsive area=====*/
@media(max-width:991px) {
    .banner_section {
        width: 50%;
        padding: 0;
        margin: 3px;
        height: 200vh;
    
    }

    .banner_text,
    .banner_title {
        text-align: center;
        padding-top:2px;
        padding-bottom: 3px;
        font-size: 40px;
        margin-left: 0;
        }

        .banner_subtitle{
            text-align: center;
           padding-top:2px;
           padding-bottom: 3px;
           font-size: 14px;
           margin-left: 1rem;
           margin-bottom:2px ;
        }

        .banner_image {
            width:100%;
            margin-left: 0;
        }

        .download {
            width: 50%;
            margin-left: 0;
        }
    }

    @media(max-width:767px) {
        .banner_section {
            width: 85%;
            padding: 0;
            margin: 3px;
            height: 200vh;
        
        }
        .banner_text,
        .banner_title {
            text-align: center;
           padding-top:2px;
           padding-bottom: 3px;
           font-size: 40px;
           margin-left: 0;
        }

        .banner_subtitle {
            text-align: center;
           padding-top:2px;
           padding-bottom: 3px;
           margin-left: 1rem;
           font-size: 14px;
           margin-bottom:2px ;
        }

        .banner_image {
         width: 100%;
         margin-left: 0;
        }

        .download {
            width: 85%;
            margin-left: 0;
        }
    }

    @media(max-width:574px){
        .banner_section {
        width: 100%;
        padding: 0;
        margin: 3px;
        height: 200vh;
    }

    .banner_text,
    .banner_title {
        text-align: center;
        padding-top:2px;
        margin-left: 0;
        padding-bottom: 3px;
        font-size: 40px;
    }

    .banner_subtitle {
        text-align: center;
       padding-top:2px;
       padding-bottom: 3px;
       font-size: 14px;
       margin-left: 1rem;
       padding-left:1px;
       margin-bottom:2px ;
    }

    .banner_image {
        width: 100%;
        margin-left: 0;
    }

    .download{
        width: 100%;
        margin-left: 0;
    }
}












/* ============================================= The start of Testimonial section ========================================= */

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.testmon {
  padding: 140px 0;
  overflow: hidden;
}
.testmon .container .tesrmon_row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.testmon .container .tesrmon_row .testmon_video {
  animation-duration: 1500ms;
  animation-delay: 0ms;
  visibility: visible;
  animation-name: fadeFromRight;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  min-height: 1;
  padding-left: 15px;
  padding-right: 15px;
}
.testmon .container .tesrmon_row .testmon_video .video {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.testmon .container .tesrmon_row .testmon_video .video::before {
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.testmon .container .tesrmon_row .testmon_video .video img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.testmon .container .tesrmon_row .testmon_video .video .video_play {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  background-color: #fff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  margin: 0 auto;
  line-height: 85px;
  transition: 0.3s all ease-in-out;
  text-align: center;
  position: absolute;
}
.testmon .container .tesrmon_row .testmon_video .video .video_play .video_box {
  width: 100%;
  display: block;
  cursor: pointer;
}
.testmon .container .tesrmon_row .testmon_video .video .video_play:hover {
  width: 100px;
  height: 100px;
  line-height: 100px;
  /* transform: translateY(10px); */
}
.testmon
  .container
  .tesrmon_row
  .testmon_video
  .video
  .video_play
  .video_box
  svg {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #01e07b;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  width: 20px;
  vertical-align: middle;
  position: relative;
  margin: 30px;
}
.testmon
  .container
  .tesrmon_row
  .testmon_video
  .video
  .video_play
  .video_box
  svg:hover {
  width: 30px;
  vertical-align: middle;
  position: relative;
}
.testmon
  .container
  .tesrmon_row
  .testmon_video
  .video
  .video_play
  .video_box
  .fa-play::before {
  content: "\f04b";
}

/* =========Start of author =======*/
.testmon .container .tesrmon_row .testmon_silder {
  visibility: visible;
  animation-duration: 1500ms;
  animation-delay: 0ms;
  animation-name: fadeInLeft;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1;
  padding: 0 70px;
}
.testmon .container .tesrmon_row .testmon_silder {
  padding: 0 85px;
}
.testmon .container .tesrmon_row .testmon_silder .silder_box {
  display: block;
  position: relative;
  z-index: 1;
  padding-top: 20px;
  overflow: hidden;
}
.testmon .container .tesrmon_row .testmon_silder .silder_box {
  padding-top: 20px;
  overflow: hidden;
  position: relative;
}



.testmon .container .tesrmon_row .testmon_silder .silder_box::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.testmon .container .tesrmon_row .testmon_silder .silder_box .testmon_item {
  width: 426px;
  margin-right: 0px;
  position: relative;
  min-height: 1px;
  float: left;
  position: absolute;
  display: none;
  animation-duration: 1500ms;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item.active {
  transition-duration: 1.5s;
  transition-delay: 0;
  transition-timing-function: ease-in-out;
  position: relative;
  display: block; 
  /* display: inline-flex; */
  /* position:-webkit-sticky; */
  /* transform: translate3d(424px 0 0); */

  /* transform: translateX(424px);  */
}

.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text {
  text-align: center;
  position: relative;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text::before {
  content: '"';
  top: 0;
  left: 0;
  line-height: 1;
  color: #f0f0f0;
  font-weight: 700;
  font-size: 100px;
  position: absolute;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 1;
  bottom: 20px;
  margin: 0 auto;
  position: relative;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_img::before {
  top: 6px;
  left: 167px;
  z-index: -1;
  width: 95px;
  content: "";
  height: 95px;
  border-radius: 100%;
  position: absolute;
  background-color: #01e07b;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_img
  img {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  transform-style: preserve-3d;
  vertical-align: middle;
  border-style: none;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_text
  h3 {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 12px;
  margin: 0;
  font-family: "Poppins";
  line-height: 1.2;
  text-align: center;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_text
  p {
  color: #666666;
  font-size: 18px;
  line-height: 1.667;
  padding-bottom: 14px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto";
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_text
  ul {
  margin: 0;
  padding: 0;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_text
  ul
  li {
  color: #ffcc00;
  margin: 0px 2px;
  text-decoration: none;
  display: inline-block;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_text
  ul
  li
  i {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_text
  .silder_author {
  margin-top: 10px;
  text-align: center;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_text
  .silder_author
  h4 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 5px;
  margin: 0;
  font-family: "Poppins";
  line-height: 1.2;
  text-align: center;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_text
  .silder_author
  h4
  a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_item
  .silder_img_text
  .silder_text
  .silder_author
  span {
  color: #383838;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_silder_controle
  .dots {
  right: 0;
  bottom: 0;
  position: absolute;
  padding-right: 3px;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_silder_controle
  .dots
  .dot {
  width: 10px;
  height: 10px;
  margin-bottom: 7px;
  border-radius: 100%;
  cursor: pointer;
  background-color: #e5e5e5;
  transition: 0.3s all ease-in-out;
}
.testmon
  .container
  .tesrmon_row
  .testmon_silder
  .silder_box
  .testmon_silder_controle
  .dots
  .dot.active {
  background-color: #01e07b;
  transform: scale(1.3);
}



/*==================== Start Responsive Testimonial Section ============================ */

@media only screen and (max-width: 1200px) {
  .testmon .container .tesrmon_row .testmon_silder .silder_box {
    display: block;
    position: relative;
    z-index: 1;
    width: 430px;
    margin-left: -55px;
  }
}
@media only screen and (max-width: 920px) {
  .testmon .container .tesrmon_row .testmon_video {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 70px;
  }
  .testmon .container .tesrmon_row .testmon_silder {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .testmon .container .tesrmon_row .testmon_silder .silder_box {
    max-width: 430px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 580px) {
  .testmon .container .tesrmon_row .testmon_video {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 70px;
  }
  .testmon .container .tesrmon_row .testmon_silder {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .testmon .container .tesrmon_row .testmon_silder .silder_box {
    max-width: 345px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .testmon .container .tesrmon_row .testmon_silder .silder_box .testmon_item {
    width: 340px;
  }
  .testmon
    .container
    .tesrmon_row
    .testmon_silder
    .silder_box
    .testmon_item
    .silder_img_text
    .silder_img::before {
    left: 124px;
  }
  /* .testmon .container .tesrmon_row .testmon_silder .silder_box :hover {
    transform: translate3d(-675px, 0px, 0px);
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
  } */
}
/*====================End Responsive Testimonial Section ============================ */



/* ========================================= The End of Testimonial section ===================================== */






/* <!--====================== The start of service Section ==================== --> */
.service {
  padding: 140px 0;
  background-color: #f5f5f5;
  overflow: hidden;
}
.service .container .service_section_title {
  text-align: center;
}
.service .container .service_section_title h2 {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 46px;
  color: #000;
  font-family: "Poppins";
  margin: 0;
}
.service .container .service_section_title p {
  max-width: 350px;
  color: #595959;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.625;
  font-family: "Roboto";
}
.service .container .service_content {
  padding-top: 50px;
}
.service .container .service_content .row_service {
  display: flex;

  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.service .container .service_content .row_service .service_content_box {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  /* visibility:visible; */
  animation-duration: 1500ms;
  animation-delay: 0ms;
  animation-name: fadeFromUp;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1;
  width: 100%;
}
/*.service .container .service_content .row_service .service_content_box:hover{
  /* transform: translateY(100px); */
/* transform:scaleY(1.2); */
/* height: 110%; */
/* opacity: 1; */

.service
  .container
  .service_content
  .row_service
  .service_content_box
  .content_icon_text {
  margin-bottom: 45px;
  background-color: #fff;
  padding: 35px 32px 35px;
  transition: 0.3s all ease-in-out;
  z-index: 10;
}
.service
  .container
  .service_content
  .row_service
  .service_content_box
  .content_icon_text:hover {
  margin-bottom: 0;
  padding: 35px 32px 80px;
  box-shadow: 0px 6px 27px 0px rgb(31 31 31 / 7%);
  z-index: 8;
}

.service
  .container
  .service_content
  .row_service
  .service_content_box
  .content_icon_text
  .content_icon {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 15px;
  background-color: #dcf5ea;
  text-align: center;
}
.service
  .container
  .service_content
  .row_service
  .service_content_box
  .content_icon_text
  .content_icon
  svg {
  height: 50px;
  fill: #000;
  overflow: hidden;
}
.service
  .container
  .service_content
  .row_service
  .service_content_box
  .content_icon_text
  .content_text {
  text-align: center;
}
.service
  .container
  .service_content
  .row_service
  .service_content_box
  .content_icon_text
  .content_text
  h3 {
  font-size: 22px;
  text-align: center;
  padding-bottom: 5px;
  font-weight: 600;
  color: #000;
  margin-top: 0;
  cursor: pointer;
}
.service
  .container
  .service_content
  .row_service
  .service_content_box
  .content_icon_text
  .content_text
  h3
  a {
  color: #000;
  text-decoration: none;
  line-height: 1.2;
}

.service
  .container
  .service_content
  .row_service
  .service_content_box
  .content_icon_text
  .content_text
  p {
  font-size: 15px;
  counter-reset: #595959;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Roboto";
  line-height: 1.625;
  padding-top: 5px;
  opacity: 0.8;
}
.service
  .container
  .service_content
  .row_service
  .service_content_box
  .content_icon_text
  .content_text
  .content_text_hover {
  left: 0;
  right: 0;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  bottom: 50px;
  margin: 0 auto;
  line-height: 40px;
  /* visibility: hidden; */

  position: absolute;
  border-radius: 100%;
  background-color: #01e07b;
  transition: 0.3s all ease-in-out;
  font-size: 25px;
  z-index: 0;
}
.service
  .container
  .service_content
  .row_service
  .service_content_box
  .content_icon_text
  .content_text
  .content_text_hover:hover {
  opacity: 1;
  visibility: visible;
  display: block;
  z-index: 1;
  width: 45px;
  height: 45px;
  font-size: 30px;
  line-height: 45px;
  bottom: 40px;
}
.service
  .container
  .service_content
  .row_service
  .service_content_box
  .content_icon_text
  .content_text
  .content_text_hover
  a {
  color: #fff;
}
.service .container .service_content .service_btn {
  height: 40px;
  width: 155px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 15px;
  line-height: 40px;
  border-radius: 5px;
  font-family: "Poppins";
  background-color: #01e07b;
  transition: 0.3s all ease-in-out;
  text-align: center;
}
.service .container .service_content .service_btn:hover {
  background-color: #000;
  transition-duration: 500ms;
}
.service .container .service_content .service_btn a {
  width: 100%;
  color: #fff;
  display: block;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}






/* ========================== Start Service Responsive ============  */
@media only screen and (max-width: 1200px) {
  .service .container .service_content .row_service .service_content_box {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 780px) {
  .service .container .service_content .row_service .service_content_box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 580px) {
  .service .container .service_content .row_service .service_content_box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* ==========================  End Service Responsive   ============  */




/*  =================== The start of The Key frames of the website ============= */

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeFromUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeFromButton {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*  =================== The End of The Key frames of the website ============= */





/* <!--===================================== The End of service Section ===================================== --> */
























/*************pricing section**********/
.pricing_section {
   padding-bottom: 60px;
    padding-top: 58px;
}

.pricing_text {
    text-align: center;
    margin-bottom: 65px;
}

.pricing_title {
    color: black;
    font-size: 46px;
    font-weight: 700;
    padding-bottom: 20px;
}

.pricing_subtitle {
    color: #595959;
    margin: 0 auto;
    max-width: 350px;
    font-size: 14px;
}

.pricing_boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
}

.box2 {
    top: -18px;
    width:433px;
    height: 565px;
    /* padding: 70px 0px 85px; */
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 9px 63px 0px rgb(0 0 0 / 15%);
}

.box1,
.box3 {
    width:357px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 9px 63px 0px rgb(0 0 0 / 3%);
    height: 545px;
}

.box_img {
    margin-left: 125px;
    margin-top: 50px;
}

.box2_img {
    margin-left: 158px;
    margin-top: -3px;
}

.box_title {
    text-align: center;
    color: #010e2a;
    font-size: 17px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 10px;
}

.pbox_paragraph {
    color: #595959;
    margin-bottom: 16px;
    line-height: 2.4;
    margin-top: 8px;
    text-align: center;
}

.cost {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.badge {
    width:125px;
    margin-left: -13px;
    margin-top: 20px;
}

.pricing_btn {
    height: 47px;
    width: 148px;
    padding:5px 5px 50px 5px;
    border-radius: 3px;
    margin-left: 95px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
    border:2px solid #02e079;
    color: black;
    background-color: white;
}

.pricing2_btn {
    height: 47px;
    width: 148px;
    padding:5px 5px 50px 5px;
    border-radius: 3px;
    margin-left: 119px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
    border:2px solid #02e079;
    color: black;
    background-color: white;
}

.pricing2_btn:hover {
    background-color: #02e079;
    color: white;
}

.pricing_btn:hover {
    background-color: #02e079;
    color: white;
}

/*=======responsive area ========*/
@media(max-width:991px){
.pricing_section {
    width: 50%;
    padding: 0;
    margin-bottom:0;
    height: 200vh;

}
.pricing_text{
    text-align: center;
}
.pricing_boxes{
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0;
}
}
@media(max-width:767px) {
    .pricing_section {
        width: 85%;
        padding: 0;
        margin-bottom:0;
        height: 200vh;
    
    }
    .pricing_text {
        text-align: center;
    }
    .pricing_boxes {
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0;
    }

}
@media(max-width:574px) {
    .pricing_section {
    width: 100%;
    padding: 0;
    margin-bottom:0;
    height: 200vh;

}
.pricing_text{
    text-align: center;
}
.pricing_boxes{
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0;
}
}

/**********btn************/
.btn {
    cursor: pointer;
}
/* start of trusted client section
    ============================================= */  
.trusted-client{
    width: 100%;
    height: 460px;
    background-color: #fff;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 40px;
}
.trusted-client .trusted-client-content{
    text-align: center;
    font-family: var(--body2-font);
    font-weight: var(--font-bold);
    font-size: var(--mb-4);
}
.trusted-client .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.logoos ul li{
    display:inline-block;
}
.trusted-client-content .logoos {
    margin-top: 60px;
    }
    .trusted-client-content .logoos li {
    margin: 0px 50px 40px;
    }
    .trusted-client-content .logoos li img {
    filter: grayscale(1);
    transition: 0.3s all ease-in-out;
    }
    .trusted-client-content .logoos li img:hover {
    filter: grayscale(0);
    transform: scale(1.2);
    }


/*=======responsive area ========*/
@media(max-width:991px){
.trusted-client{
    width: 60%;
    height: 700px;
    padding: 0;
}
.trusted-client .trusted-client-content{
    font-size: var(--mb-3);
}
}
@media(max-width:767px){

    .trusted-client{
        width: 80%;
        height: 600px;
        padding: 0;
    }
    .trusted-client .trusted-client-content{
        font-size: var(--mb-3);
    }

}
@media(max-width:574px){
    
    .trusted-client{
        width: 100%;
        height: 600px;
        padding: 0;
    }
    .trusted-client .trusted-client-content{
        font-size: var(--mb-4);
    }

}
/*======== start of cta section ========*/
.cta-section{
    width: 100%;
    height: 450px;
    background-image: url("images/cta-bg.jpg");
    background-size: cover;
    background-clip:border-box ;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;
    text-align: center;
    padding-top: 5%;
    font-family: var(--body2-font);
    transition: .5s;
}
.cta-section .container{
    width: 670px;
}
.cta-section .container .cta-title-text h2 {
    font-size: var(--mb-5);
    font-weight: var(--font-bold);
    margin-bottom: 20px;
    line-height: 50px;

}
.cta-section .container .cta-title-text p {
    color: #595959;
    line-height: 25px;
    letter-spacing: .2px;
    opacity: .9;
    margin-bottom: 35px;
}
.cta-section .container .cta-title-text a {
    width: 150px;
    height: 50px;
    background-color: #01e07b;
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: var(--font-semi-bold);
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}
.cta-section .container .cta-title-text a:hover{
background-color: #111;
transition: 0.3s all ease-in-out;
}

/*=======responsive area ========*/
@media(max-width:991px){
    .cta-section{
        width: 60%;
        height: 500px;
        padding-top: 100px;
    }
    .cta-section .container{
        width: 500px;
    }
    .cta-section .container .cta-title-text h2{
        font-size: var(--mb-4);
    }
}
@media(max-width:767px){

 .cta-section{
        width: 80%;
        height: 500px;
        padding-top: 120px;
    }
    .cta-section .container{
        width: 500px;
    }
    .cta-section .container .cta-title-text h2{
        font-size: var(--mb-4);
    }

}
@media(max-width:574px){
     .cta-section{
        width: 100%;
        height: 500px;
        padding-top: 100px;
    }
    .cta-section .container{
        width: 500px;
    }
    .cta-section .container .cta-title-text h2{
        font-size: var(--mb-4);
    }

}

/* end of em cta section
    ============================================= */
/*==================================START OF FOOTER SECTION==============================*/
.footer{
    position: relative;
    justify-content: space-between;
    display:inline-block;
    padding:30px 0 30px;
    line-height:24px;
    color:#fff;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #000000;
    font-family: var(--body2-font);
    margin-top: 83px;

}
.row{
    display: flex;
    width: 85%;
    margin-left: 30px;
    margin-top: 100px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    
}

.col{
    flex-basis: 25%;
    padding: 10px;
    
}
.col:nth-child(2),.col:nth-child(3){
    flex-basis: 15%;

}

.im1{
    width: 160px;
    margin-bottom: 30px;
}
.col h2{
    font-size: var(--mb-4);
    width: fit-content;
    position: relative;
    margin-bottom: 40px;
}

.col span{
    color:#01e07b;
    font-size: var(--mb-3);
    font-weight: var(--font-medium);
    margin-bottom:20px;
    
}
.text-justify{
font-size: var(--mb-2);
font-family:  var(--body2-font);
line-height: 1.7em;
margin-bottom: 15px;
}

.col h2::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 62%;
    border-top: 1px solid #fff;
    width:330px;
    opacity: .5;
    margin-left: 10px;

}
.col ul li {
    list-style: none;
    margin-bottom: 12px;
}
.col ul li a {
    text-decoration: none;
    color: var(--title-color);
    position: relative;

}
.col ul li a i{
    width: 12px;
    margin-right: 8px;
    
    
}

.col ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    
    background-color: #01e07b;
    visibility: hidden;
    -webkit-transform: scaleX(0);
        transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
}

.col ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1.1);
}
    
.col ul li a:hover {
color: #01e07b;
padding-left: 8px;
transition: .5s;
transition: ease-in;
}

.c1{
    margin-top: 65px;
}

.col form {
    padding-bottom: 15px;
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.col form input {
    width: 200px;
    height: 40px;
    opacity: .9;
    padding: 20px;
    background-color: #3b3b3b;
    color: #fff;
    border: 0;
    
    font-size: 15px;
    outline: none;
}
.col form button{
    width: 62px;
    height: 38px;
    background-color:#01e07b;;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: 0;
}

.right h1{

font-size: var(--mb-4);
    width: fit-content;
    position: relative;
    margin-bottom: 40px;

}
.right::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 27%;
    right: 0;
    border-top: 1px solid #fff;
    width:250px;
    opacity: .5;
    margin-left: 5px;

}
.right p {
    color: var(--title-color);
font-size: var(--p-size);
font-family:  var(--body2-font);
line-height: 1.7em;
margin-bottom: 15px;
}


.social-icons .fb-bg{
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color: #16599b;
}
.social-icons .bh-bg  {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color:#73b7ff;
}
.social-icons .tw-bg  {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color:#03a9f4;
}
.social-icons .dr-bg  {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color:#eb5a89;
}
.social-icons .fb-bg:hover,.tw-bg:hover,.dr-bg:hover
,.bh-bg:hover{
    transform: scale(1.2);
    
}
/*======== preloader section==========*/
.scroll {
    width: 55px;
    right: 20px;
    z-index: 5;
    height: 55px;
    bottom: 20px;
    display: none;
    position: fixed;
    line-height: 55px;
    border-radius: 100%;
    background-color: #01e07b;
    text-align: center;
}
.scroll i{
  color: #fff;
  font-size: 25px;
  text-align: center;
}
/*==========================END OF FOOTER =============*/

/*========================START OF COPYRIGHT SECTION ==============*/
.copyRight-sec{
    position: relative;

    font-family: var(--body2-font);
    background-color: #3b3b3b;
    width: 100%;
    height: 66px;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size:15px;
    font-weight: 500;
}
.copyRight-sec a{
    text-decoration: none;
    color:#01e07b ;
}
/*==================== END OF COPYRIGHT SECTION ==============================*/
/*=======responsive area ========*/
@media(max-width:991px){
     .footer{
        padding: 40px;
        height: 170vh;
        
    }
    .row{
        width: 80%;
        margin: 0;
        flex-wrap: nowrap;
        flex-direction: column;
    }
.col{
    width:40%;
    
}


}
@media(max-width:767px){
    .footer{
        padding: 50px;
        height: 200vh;
        
    }
    .col{
        width: 80%;
        flex-wrap: nowrap;
        
    }



}
@media(max-width:574px){
    
    .col{
        width: 100%;
        
    }

}
