/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Roboto:100,500,300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/*==================== VARIABLES CSS ====================*/
:root {
    --header-height:3rem ;

    /*========== Colors ==========*/
    /* Change favorite color */













/*========== Font and typography ==========*/

        --body-font: "Circular Std Book";
        --body2-font:"Poppins", sans-serif;
        --biggest-font-size: 2.25rem;
        --biggest2-font-size: 2.5rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
        --p-size:1.2rem ;
    
        /*========== Font weight ==========*/
        --font-medium: 500;
        --font-semi-bold: 600;
        --font-bold:700;
    
        /*========== Margenes ==========*/
        --mb-1: .5rem;
        --mb-2: 1rem;
        --mb-3: 1.5rem;
        --mb-4: 2rem;
        --mb-5: 2.5rem;
        --mb-6: 3rem;
    
}
/*==================== BASE ====================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body2-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/**************************NAV**************/

.first {
    position:relative;
    height:145vh;
    font-family:  "Poppins", sans-serif;
}

.nav_links {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left:5.2rem;
    padding-right: 18px;
    padding-bottom:9px;
    padding-top: 27px;
    margin:1px;
    color:black;
}

.navitem {
    margin-left: 27px;
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-right: 15px;
    position: relative;
    transition: 0.2s all linear;
  }

  .navitem:hover {
    color:#02e079;
}

  nav {
    width: 100%;
     height: 80px;
     display: flex;
     justify-content: space-between;
     align-items: center;
      background-color: transparent; 
     padding: 8px;
     position: absolute;
     z-index: 100;
 }

 .nav_center {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
    margin-left: 3px;
    margin-right: 10px;
    max-width: 100%;
    /* position: fixed; */
}

.logo {
width: 98px;
height:20px;
margin-right: 20px;
float: left;
margin-left: 100px;
cursor: pointer;
}

.nav_logo {
  padding-right: 20px;
  height: 35px;
  width: 122px;
}

.nav_sign {
    margin-top: 27px;
    height: 50px;
    width: 145px;
    border-radius: 3px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 100px;
    background-color: #02e079;
    transition: 0.3s all ease-in-out;
    border-style:none ;
}

.nav_sign:hover {
    background-color: #000;
    color: white;
    display: block;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
}

.shrink {
  padding:20px 10px;
  position: fixed;
top:0;
width: 100%;
transition: 0.3s all ease-in-out;
padding: 12px;
background-color: white;
z-index: 100;
}

/***********************************************banner*********************************/

.banner_section {
    height: 99vh;
}

/* .banner_section::after {
    content: "";
    background-image: url(b1.png);
    top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  
} */

.background_img {
    position: relative;
    width:1349px;
    top:17px;
    margin-left: 0;
}

.banner_text {
    text-align: center;
    line-height: 1.625;
    margin-top: 104px;
    font-family: var(--body2-font);
    position: absolute;
    z-index: 0;
}

.banner_title {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.09;
    padding-bottom: 15px;
    margin-top: -36rem;
    margin-left: 19rem;
}

.banner_subtitle {
    color: #595959;
    margin: 0 auto;
    font-size: 16px;
    max-width: 380px;
    padding-bottom: 25px;
    margin-left: 31rem;
}

.banner_image {
    margin-top: -274px;
    margin-left: 275px;
    position: absolute;
    z-index: 1;
}

.download {
   width:40%;
   margin-left: 308px;
   margin-top: 142px;
   position: absolute;
   z-index: 100;
   border-bottom: 0.3px rgb(206, 204, 204);
}

.download_bar span {
    color:black;
    line-height: 1.9;
    font-family: var(--body2-font);
}

.download_icon {
    font-family: 'Font Awesome 5 Brands';
    color: rgb(179, 176, 176);
    transition: 0.3s all ease-in-out;
    margin-right: 6px;
}

.download_icon:hover {
    color:#02e079;
}

.download_btn {
    float: right;
    height: 47px;
    width: 148px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 600;
    background-color: #02e079;
    transition: 0.3s all ease-in-out;
    border-style:none ;
    color: white;
    position: absolute;
    margin-top: -35px;
    margin-left: 587px;
}

.download_btn:hover {
    background-color: #000;
    display: block;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
}







/*==================================START OF FOOTER SECTION==============================*/
.footer{
    position: relative;
    justify-content: space-between;
    display:inline-block;
    padding:30px 0 30px;
    line-height:24px;
    color:#fff;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #000000;
    font-family: var(--body2-font);


}
.row{
    display: flex;
    width: 85%;
    margin-left: 30px;
    margin-top: 100px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    
}

.col{
    flex-basis: 25%;
    padding: 10px;
    
}
.col:nth-child(2),.col:nth-child(3){
    flex-basis: 15%;

}

.im1{
    width: 160px;
    margin-bottom: 30px;
}
.col h2{
    font-size: var(--mb-4);
    width: fit-content;
    position: relative;
    margin-bottom: 40px;
}

.col span{
    color:#01e07b;
    font-size: var(--mb-3);
    font-weight: var(--font-medium);
    margin-bottom:20px;
    
}
.text-justify{
font-size: var(--mb-2);
font-family:  var(--body2-font);
line-height: 1.7em;
margin-bottom: 15px;
}

.col h2::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 62%;
    border-top: 1px solid #fff;
    width:330px;
    opacity: .5;
    margin-left: 10px;

}
.col ul li {
    list-style: none;
    margin-bottom: 12px;
}
.col ul li a {
    text-decoration: none;
    color: var(--title-color);
    position: relative;

}
.col ul li a i{
    width: 12px;
    margin-right: 8px;
    
    
}

.col ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    
    background-color: #01e07b;
    visibility: hidden;
    -webkit-transform: scaleX(0);
        transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
}

.col ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1.1);
}
    
.col ul li a:hover {
color: #01e07b;
padding-left: 8px;
transition: .5s;
transition: ease-in;
}

.c1{
    margin-top: 65px;
}

.col form {
    padding-bottom: 15px;
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.col form input {
    width: 200px;
    height: 40px;
    opacity: .9;
    padding: 20px;
    background-color: #3b3b3b;
    color: #fff;
    border: 0;
    
    font-size: 15px;
    outline: none;
}
.col form button{
    width: 62px;
    height: 38px;
    background-color:#01e07b;;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: 0;
}

.right h1{

font-size: var(--mb-4);
    width: fit-content;
    position: relative;
    margin-bottom: 40px;

}
.right::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 27%;
    right: 0;
    border-top: 1px solid #fff;
    width:250px;
    opacity: .5;
    margin-left: 5px;

}
.right p {
    color: var(--title-color);
font-size: var(--p-size);
font-family:  var(--body2-font);
line-height: 1.7em;
margin-bottom: 15px;
}


.social-icons .fb-bg{
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color: #16599b;
}
.social-icons .bh-bg  {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color:#73b7ff;
}
.social-icons .tw-bg  {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color:#03a9f4;
}
.social-icons .dr-bg  {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color:#eb5a89;
}
.social-icons .fb-bg:hover,.tw-bg:hover,.dr-bg:hover
,.bh-bg:hover{
    transform: scale(1.2);
    
}
/*==========================END OF FOOTER =============*/

/*========================START OF COPYRIGHT SECTION ==============*/
.copyRight-sec{
    position: relative;

    font-family: var(--body2-font);
    background-color: #3b3b3b;
    width: 100%;
    height: 66px;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size:15px;
    font-weight: 500;
}
.copyRight-sec a{
    text-decoration: none;
    color:#01e07b ;
}
/*==================== END OF COPYRIGHT SECTION ==============================*/
/*=======responsive area ========*/
@media(max-width:991px){
     .footer{
        padding: 40px;
        height: 170vh;
        
    }
    .row{
        width: 80%;
        margin: 0;
        flex-wrap: nowrap;
        flex-direction: column;
    }
.col{
    width:40%;
    
}


}
@media(max-width:767px){
    .footer{
        padding: 50px;
        height: 200vh;
        
    }
    .col{
        width: 80%;
        flex-wrap: nowrap;
        
    }



}
@media(max-width:574px){
    
    .col{
        width: 100%;
        
    }

}
